<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='chatbot.css') }}" />
    <script src="{{ url_for('static', filename='chatbot.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  
    <title>Category Search</title>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search" />
      <input type="checkbox" id="show-menu" />
      <label for="show-menu" class="menu-icon"
        ><i class="fas fa-bars"></i
      ></label>
      <div class="content">
        <div class="logo"><a href="/">InstaSearch</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/favorite">Favorite</a></li>
          <li>
            <a href="#" class="desktop-link"
              >Categories <i class="fa fa-caret-down"></i
            ></a>
            <input type="checkbox" id="show-features" />
            <label for="show-features"
              >Categories
              <i class="fa fa-caret-down"></i>
            </label>
            <ul>
              {% for category in categories %}
              <li><a href="/category/{{category}}">{{category}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <!-- <li><a href="#">Chatbot</a></li> -->
          <li><a href="/accountpage">Account</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"
        ><i class="fas fa-search"></i
      ></label>
      <form action="/search_result" class="search-box">
        <input
          type="text"
          placeholder="Type Something to Search..."
          required
          name="user_input_to_search_bar"
        />
        <button type="submit" class="go-icon">
          <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </form>
    </nav>
  </div>

<br>
  <br> <br> <br>
  
  <h2 style="margin-top:40px; text-align: center;font-size:xx-large;">Category: {{category_name}}</h2>

  

  
      <div class="card-container">
        {% for page in category_pages: %}
          <div class="card">
            <img src="{{page.profilepicurlhd}}" >
            <div class="card-content">
                <h3>{{page.page_username}}</h3> 
                <p class="rate">{{page.rate}} <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                <p> {{page.category}}</p>
                 <a href="{{page.url}}" class="btn">Instagram <i class="fab fa-instagram"></i></a>
                 <p class="btn2">{{page.followerscount}}<i class="fas fa-users"></i></p>
            </div>
        </div>
        {% endfor %}

</div>
  <form action="/chatbot" >
    <button type="submit" class="chatbot-toggler">
      <span class="material-symbols-rounded">Bot</span>
      <span class="material-symbols-outlined">l</span>
    </button>
  </form>
  <div class="chatbot">
    <header>
      <h2>Chatbot</h2>
      <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there 👋<br>How can I help you today?</p>
      </li>
    </ul>
    <div class="chat-input">
      <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
  </div>

</body>
</html>