<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="Product_Search.css">
    <link rel="stylesheet" href="Home.css">
    <title>Favorite</title>
</head>
<body>
    <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-search">
          <input type="checkbox" id="show-menu">
          <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
          <div class="content">
          <div class="logo"><a href="#">InstaSearch</a></div>
            <ul class="links">
              <li><a href="Home.html">Home</a></li>
              <li><a href="Favorite.html">Favorite</a></li>
              <li>
                <a href="#" class="desktop-link">Categories <i class="fa fa-caret-down"></i></a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Categories
                    <i class="fa fa-caret-down"></i>
                </label>
                <ul>
                  <li><a href="#">Drop Menu 1</a></li>
                  <li><a href="#">Drop Menu 2</a></li>
                  <li><a href="#">Drop Menu 3</a></li>
                  <li><a href="#">Drop Menu 4</a></li>
                </ul>
              </li>
              <li><a href="#">Chatbot</a></li>
              <li><a href="#">Account</a></li>
            </ul>
          </div>
          <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
          <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
          </form>
        </nav>
      </div>
      <br><br>
      <br>
      <br>
     
        
      <div class="heading">
        <h1>My favorite list</h1>
    </div>

    <div class="container">
        <div class="box">
            <img src="insta1.jpg">
            <h2>Palma</h2>
            <p> A North African woman born in Cairo, rooted in 2016.
                From the Mediterranean to the world.</p>
            <span>120K Followers</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="options">
                <a href="#">Delete</a>
                <a href="#"> Instagram post</a>
            </div>
        </div>
        <div class="box">
            <img src="red.jpg">
            <h2>Dodice</h2>
            <p>We Don't Sell Handbags We Sell Designs.</p>
            <span>58.2K Followers</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
            </div>
            <div class="options">
                <a href="#">Add to favorite</a>
                <a href="#"> Instagram post</a>
            </div>
        </div>
        <div class="box">
            <img src="2brek.jpg">
            <h2>Swarovski</h2>
            <p>The engineers of wonder since 1895.</p>
            <span>8.2M Followers</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="options">
                <a href="#">Add to favorite</a>
                <a href="#"> Instagram post</a>
            </div>
        </div>
        <div class="box">
            <img src="jeans.jpg">
            <h2>Jellavu</h2>
            <p>Bridging the gap between fashion & people</p>
            <span>151K Followers</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
            </div>
            <div class="options">
                <a href="#">Add to favorite</a>
                <a href="#"> Instagram post</a>
            </div>
  
        </div>
        
          

    </div>
</body>
</html>