<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="static/Product_Search.css">
    <link rel="stylesheet" href="static/Home.css">
    <title>Favorite</title>

</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search" />
      <input type="checkbox" id="show-menu" />
      <label for="show-menu" class="menu-icon"
        ><i class="fas fa-bars"></i
      ></label>
      <div class="content">
        <div class="logo"><a href="/">InstaSearch</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/favorite">Favorite</a></li>
          <li>
            <a href="#" class="desktop-link"
              >Categories <i class="fa fa-caret-down"></i
            ></a>
            <input type="checkbox" id="show-features" />
            <label for="show-features"
              >Categories
              <i class="fa fa-caret-down"></i>
            </label>
            <ul>
              {% for category in categories %}
              <li><a href="/category/{{category}}">{{category}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <li><a href="/accountpage">Account</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"
        ><i class="fas fa-search"></i
      ></label>
      <form action="/search_result" class="search-box">
        <input
          type="text"
          placeholder="Type Something to Search..."
          required
          name="user_input_to_search_bar"
        />
        <button type="submit" class="go-icon">
          <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </form>
    </nav>
  </div>
      <br><br>
      <br>
      <br>
     
        
    <div class="heading">
        <h1>My Favorite List</h1>
    </div>
  
    <div class="container">

      
      {% for post in favorite_posts %}
        <div class="box">
            <img id="image" src="{% if 't51.29350-15' in post.image %} static/images/{{ post.post_id }}.png{% else %}{{ post.image }}{% endif %}" alt="Image"/>
            <h2>{{ post.pagename}}</h2>
            <p style="color: black;">{{ post.category|title }}</p>
            <p>{{ post.bio}}</p>
            {% if post.likescount ==-1 %}
                  <span> Likes: Hidden </span>
            {% else %}
                  <span> Likes: {{ post.likescount }} </span>
            {% endif %} 
            <div style="color: #ff9c1a; font-size:16px;" class="rate">Rate: {{post.rating}}</div> 
            <div class="options">
                <a href="/remove_post/{{ post.post_id}}">Remove</a>
                <a href="{{post.posturl}}">Instagram post</a>
            </div>
        </div>
      {% endfor %}
    </div>
  
 
</body>
</html>