<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="static/Home.css" />
    <link rel="stylesheet" href="static/Home2.css" />
    <link rel="stylesheet" href="static/chatbot.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <script src="static/chatbot.js" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <input type="checkbox" id="show-search" />
        <input type="checkbox" id="show-menu" />
        <label for="show-menu" class="menu-icon"
          ><i class="fas fa-bars"></i
        ></label>
        <div class="content">
          <div class="logo"><a href="/">InstaSearch</a></div>
          <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/favorite">Favorite</a></li>
            <li>
              <a href="#" class="desktop-link"
                >Categories <i class="fa fa-caret-down"></i
              ></a>
              <input type="checkbox" id="show-features" />
              <label for="show-features"
                >Categories
                <i class="fa fa-caret-down"></i>
              </label>
              <ul>
                {% for category in categories %}
                <li><a href="/category/{{category}}">{{category}}</a></li>
                {% endfor %}
              </ul>
            </li>
            <!-- <li><a href="#">Chatbot</a></li> -->
            <li><a href="/accountpage">Account</a></li>
          </ul>
        </div>
        <label for="show-search" class="search-icon"
          ><i class="fas fa-search"></i
        ></label>
        <form action="/search_result" class="search-box">
          <input
            type="text"
            placeholder="Type Something to Search..."
            required
            name="user_input_to_search_bar"
          />
          <button type="submit" class="go-icon">
            <i class="fas fa-long-arrow-alt-right"></i>
          </button>
        </form>
      </nav>
    </div>

    <br />
    <br />
    <!-- <form action="#" class="first">
    <h3>Make shopping a breeze Pick with ease</h3>
</form>
<section class="slogan">
    <div class="first">
        <h3> Make shopping a breeze Pick with ease</h3>
    </div>
</section> -->

    <section class="home">
      <h3 class="white">InstaSearch</h3>
      <h1 class="white">Make shopping a breeze, Pick with ease</h1>
      <!-- <h5 class="white">Review all you want.</h5> -->
      <!-- <div class="home-buttons">
      <a href="#" class="btn">Login</a>
  </div> -->
    </section>

    <br />
    <h1>Recommendations</h1>
    <div class="card-container">
      {% for recommendation in recommendations %}
      <div class="card">
        <img src="{{ recommendation.profilepicurlhd }}" />
        <div class="card-content">
          <h3>{{ recommendation.page_username }}</h3>
          <p class="rate">
            {{ recommendation.rate }} <i class="fa fa-star"></i>
          </p>
          <p>{{ recommendation.biography}}</p>
          <p class="btn2">
            {{ recommendation.followerscount}} <i class="fas fa-users"></i>
          </p>
          <a href="{{ recommendation.url }}" class="btn"
            > <i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- "/chatbot" -->
    <form action="/chatbot" >
      <button type="submit" class="chatbot-toggler">
        <span class="material-symbols-rounded">Bot</span>
        <span class="material-symbols-outlined">l</span>
      </button>
    </form>
    <div class="chatbot">
      <header>
        <h2>Chatbot</h2>
        <span class="close-btn material-symbols-outlined">close</span>
      </header>
      <ul class="chatbox">
        <li class="chat incoming">
          <span class="material-symbols-outlined">smart_toy</span>
          <p>Hi there 👋<br>How can I help you today?</p>
        </li>
      </ul>
      <div class="chat-input">
        <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
        <span id="send-btn" class="material-symbols-rounded">send</span>
      </div>
    </div>
  </body>
</html>