<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="static/Home.css">
  <link rel="stylesheet" href="static/Home2.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="templates/Home.html">InstaSearch</a></div>
        <ul class="links">
          <li><a href="templates/Home.html">Home</a></li>
          <li><a href="templates/Favorite.html">Favorite</a></li>
          <li>
            <a href="#" class="desktop-link">Categories <i class="fa fa-caret-down"></i></a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Categories
                <i class="fa fa-caret-down"></i>
            </label>
            <ul>
              <li><a href="#">Drop Menu 1</a></li>
              <li><a href="#">Drop Menu 2</a></li>
              <li><a href="#">Drop Menu 3</a></li>
              <li><a href="#">Drop Menu 4</a></li>
            </ul>
          </li>
          <li><a href="#">Chatbot</a></li>
          <li><a href="#">Account</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
      <form action="#" class="search-box">
        <input type="text" placeholder="Type Something to Search..." required>
        <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
      </form>
    </nav>
  </div>

<br>
<br>
<!-- <form action="#" class="first">
    <h3>Make shopping a breeze Pick with ease</h3>
</form>
<section class="slogan">
    <div class="first">
        <h3> Make shopping a breeze Pick with ease</h3>
    </div>
</section> -->

<section class="home">
  <h3 class="white">InstaSearch</h3>
  <h1 class="white"> Make shopping a breeze Pick with ease</h1>
  <h5 class="white">Review all you want.</h5>
  <!-- <div class="home-buttons">
      <a href="#" class="btn">Login</a>
  </div> -->
</section>

<br>
<h1>Recommendations</h1>

  <div class="card-container">
    <div class="card">
        <img src="static/backgroud.jpg" >
        <div class="card-content">
            <h3>Palma</h3> 
            <p class="rate">2.5 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
            <p> Fashion,shoes and bags</p>
             <a href="" class="btn">Instagram <i class="fab fa-instagram"></i></a>
             <p class="btn2">200K  <i class="fas fa-users"></i></p>
        </div>
    </div>
    <div class="card">
        <img src="static/backgroud.jpg" >
        <div class="card-content">
            <h3>Palma</h3> 
            <p class="rate">2.5 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
            <p> Fashion,shoes and bags</p>
             <a href="" class="btn">Instagram <i class="fab fa-instagram"></i></a>
             <p class="btn2">200K  <i class="fas fa-users"></i></p>
        </div>
    </div>
    <div class="card">
        <img src="static/backgroud.jpg" >
        <div class="card-content">
            <h3>Palma</h3> 
            <p class="rate">2.5 <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
            <p> Fashion,shoes and bags</p>
             <a href="" class="btn">Instagram <i class="fab fa-instagram"></i></a>
             <p class="btn2">200K  <i class="fas fa-users"></i></p>
        </div>
    </div>
  </div>

</body>
</html>