<!-- el newest w ratings lesa w kaman el liked w add to favs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="Home.css">
    <link rel="stylesheet" href="Product_Search.css">
    <title>Products Search</title>
</head>
<body>
    <div class="wrapper">
        <nav>
          <input type="checkbox" id="show-search">
          <input type="checkbox" id="show-menu">
          <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
          <div class="content">
          <div class="logo"><a href="#">InstaSearch</a></div>
            <ul class="links">
              <li><a href="Home.html">Home</a></li>
              <li><a href="Favorite.html">Favorite</a></li>
              <li>
                <a href="#" class="desktop-link">Categories <i class="fa fa-caret-down"></i></a>
                <input type="checkbox" id="show-features">
                <label for="show-features">Categories
                    <i class="fa fa-caret-down"></i>
                </label>
                <ul>
                  <li><a href="#">Drop Menu 1</a></li>
                  <li><a href="#">Drop Menu 2</a></li>
                  <li><a href="#">Drop Menu 3</a></li>
                  <li><a href="#">Drop Menu 4</a></li>
                </ul>
              </li>
              <li><a href="#">Chatbot</a></li>
              <li><a href="#">Account</a></li>
            </ul>
          </div>
          <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
          <form action="#" class="search-box">
            <input type="text" placeholder="Type Something to Search..." required>
            <button type="submit" class="go-icon"><i class="fas fa-long-arrow-alt-right"></i></button>
          </form>
        </nav>
      </div>
      <br><br>
      <br>
      <br>
      <br>
      <br>
        

    <div class="dropdown">
            <p>Sort by  <button class="dropbtn" onclick="toggleDropdown()">Dropdown <i class="fa fa-caret-down"></i></button> </p>
            <div class="dropdown-content" id="myDropdown">
              <a href="#">Newest</a>
              <a href="#">Ratings </a>
            </div>
     </div>

    

    <br>
    <br>

    <div class="container">
        {% for post in posts %}
        <div class="box">
            <img src="{{post.image}}">
            <h2>{{ post.pagename }}</h2>
            <p> {{ post.original_caption}}</p>
            <span>{{ post.likescount}}</span>
            <div class="rate">
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="filled fas fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="options">
                <a href="#">Add to favorite</a>
                <a href="{{ post.posturl}}"> Instagram post</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="app.js"></script>
</body>
</html>

