<!-- el newest w ratings lesa w kaman el liked w add to favs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <link rel="stylesheet" href="static/chatbot.css" />
    <link rel="stylesheet" href="static/Home.css">
    <link rel="stylesheet" href="static/Product_Search.css">
    <title>Products Search</title>
    <!-- <script src="app.js"></script> -->
    <script src="static/chatbot.js" defer></script>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search" />
      <input type="checkbox" id="show-menu" />
      <label for="show-menu" class="menu-icon"
        ><i class="fas fa-bars"></i
      ></label>
      <div class="content">
        <div class="logo"><a href="/">InstaSearch</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/favorite">Favorite</a></li>
          <li>
            <a href="#" class="desktop-link"
              >Categories <i class="fa fa-caret-down"></i
            ></a>
            <input type="checkbox" id="show-features" />
            <label for="show-features"
              >Categories
              <i class="fa fa-caret-down"></i>
            </label>
            <ul>
              {% for category in categories %}
              <li><a href="/category/{{category}}">{{category}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <!-- <li><a href="#">Chatbot</a></li> -->
          <li><a href="/accountpage">Account</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"
        ><i class="fas fa-search"></i
      ></label>
      <form action="/search_result" class="search-box">
        <input
          type="text"
          placeholder="Type Something to Search..."
          required
          name="user_input_to_search_bar"
        />
        <button type="submit" class="go-icon">
          <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </form>
    </nav>
  </div>
      <br><br>
      <br>
      <br>
      <br>
      <br>
        

  <div style="margin: 20px; padding-top: 10px;">
    <h1>Search results:</h1>
  </div>

    
    <br>
    <br>

    <div class="container">
        {% if dict_len == 0 %}
            <h1>No results found</h1>
        {% else %}
            {% for post in posts %}
            <div class="box">
               <a href="/show_product/{{post.post_id}}"><img src="{{ post.post_image}}"> </a>
                <h2>{{ post.pagename }}</h2>
                <p>{{ post.original_caption }}</p>
                {% if post.likescount ==-1 %}
                      <span> Likes: Hidden </span>
                {% else %}
                      <span> Likes: {{ post.likescount }} </span>
                {% endif %} 
                <div class="rate">
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
                <div class="options">
                    <a href="favorite/{{ post.post_id}}">Add to favorite</a>
                    <a href="{{ post.posturl }}">Instagram post</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>


  <!-- "/chatbot" -->
  <button class="chatbot-toggler">
    <span class="material-symbols-rounded">mode_comment</span>
    <span class="material-symbols-outlined">close</span>
  </button>
  <div class="chatbot">
    <header>
      <h2>Chatbot</h2>
      <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there 👋<br>How can I help you today?</p>
      </li>
    </ul>
    <div class="chat-input">
      <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
  </div>
    
</body>
</html>

