<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="static/chatbot.css" />
    <script src="static/chatbot.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='Home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='SHOW_product.css') }}" />
    <!-- <link rel="stylesheet" href="static/Home.css">
    <link rel="stylesheet" href="static/SHOW_product.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Product Details</title>
</head>
<body>
  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search" />
      <input type="checkbox" id="show-menu" />
      <label for="show-menu" class="menu-icon"
        ><i class="fas fa-bars"></i
      ></label>
      <div class="content">
        <div class="logo"><a href="/">InstaSearch</a></div>
        <ul class="links">
          <li><a href="/">Home</a></li>
          <li><a href="/favorite">Favorite</a></li>
          <li>
            <a href="#" class="desktop-link"
              >Categories <i class="fa fa-caret-down"></i
            ></a>
            <input type="checkbox" id="show-features" />
            <label for="show-features"
              >Categories
              <i class="fa fa-caret-down"></i>
            </label>
            <ul>
              {% for category in categories %}
              <li><a href="/category/{{category}}">{{category}}</a></li>
              {% endfor %}
            </ul>
          </li>
          <!-- <li><a href="#">Chatbot</a></li> -->
          <li><a href="/accountpage">Account</a></li>
        </ul>
      </div>
      <label for="show-search" class="search-icon"
        ><i class="fas fa-search"></i
      ></label>
      <form action="/search_result" class="search-box">
        <input
          type="text"
          placeholder="Type Something to Search..."
          required
          name="user_input_to_search_bar"
        />
        <button type="submit" class="go-icon">
          <i class="fas fa-long-arrow-alt-right"></i>
        </button>
      </form>
    </nav>
  </div>

  <div class="container">
        <div class="box">
            <div class="images">
                <div class="img-holder active">
                  <img src="{{ post.image }}">
                </div>
            </div>
            <div class="basic-info">
                <h1>{{ post.pagename }}</h1>
                <div class="rate">
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                    <i class="filled fas fa-star"></i>
                </div>
                <span><i class="fas fa-heart"></i>{{ post.likescount }}</span>
                <div class="options">
                  
                  <a href="{{ post.posturl }}">Instagram post</a>
                  <a href="/favorite/{{ post.post_id}}">Add to favorite</a>
                </div>
            </div>
            <div class="description">
                <p>{{ post.bio }}</p>
            </div>
        </div>
    </div>
  
  <!-- "/chatbot" -->
  <form action="/chatbot" >
    <button type="submit" class="chatbot-toggler">
      <span class="material-symbols-rounded">Bot</span>
      <span class="material-symbols-outlined">l</span>
    </button>
  </form>
  <div class="chatbot">
    <header>
      <h2>Chatbot</h2>
      <span class="close-btn material-symbols-outlined">close</span>
    </header>
    <ul class="chatbox">
      <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there 👋<br>How can I help you today?</p>
      </li>
    </ul>
    <div class="chat-input">
      <textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
      <span id="send-btn" class="material-symbols-rounded">send</span>
    </div>
  </div>
</body>
</html>